/* Base style ----------------*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e9ffeb;
}

header {
 font-family: 'Kanit', serif;
 /* color: azure; */
 background-color: rgb(43 41 48);
}

h2 {
  margin-bottom: 10px;
}
nav {
  margin: 40px 15px;
}
#profile-img {
  width: 60vw;
}

header ul li{
  background-color: #E6E6FA;
  font-size: 16px;
  padding: 5px;
  margin: 10px;
}

header p {
  display: flex;
  font-size: 3.5vw;
  padding: 10px 20px;
  color: #adb6ab;
}

header h5 {
  font-size: 15px;
}

.skills {
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: #c1ddbb;
  font-family: 'Kanit';
}

.skills li {
  list-style-type: square;
  margin: 5px;
}

main {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}

div.project {
  align-items:start;
}

#profile {
  display: flex;
}

div.languages {
  font-size: 20px;
}

.skills{
  font-size: 20px;
  font-size: 16px;
}

.project img{
  width:260px; 
  
}

a{
  color: #6d8080;
}

.grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.1); 
  }

#skills {
  margin:10px auto;
  width: 80%;
}

#skills img {
  width:90%;
}

footer {
  margin:10px 0px;
  overflow-wrap: break-word;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: #c1ddbb;
  /* background-color: black; */
  background-color: rgb(43 41 48);
}

footer p, footer ul {
  font-size: 3vw;
  padding: 10px 40px;
}

footer li {
  margin: 4px;
  padding: 10px;
}

footer li span {
  font-weight: 500;

}
a:link {
  text-decoration: none;
  color: #4B0082;
}

a:hover {
  text-decoration:underline;
  color: #ba82d1;
}

#contact {
  padding: 30px;
  background-color: rgb(43 41 48);
}

#bottom {
  margin: 15px;
  border-top: 1px solid lightgrey;
  display:flex;
  justify-content: space-between;
}

.bottom-nav {
  display: none;
}

/* Media queries--------------------------- */

@media (min-width: 768px) {


  header {
  padding:30px 20px 50px;
}

  header ul li {
  display: inline-block;
  width: 15vw;
  justify-content: space-between;
  background: none;
}
  header p, footer p, footer ul {
  font-size: 20px;
  /* font-weight: unset; */
  }
  header p {
    text-align: left;
    padding: 0px;
  }

 
  #profile-img {
    width: 40%;
    height: 40%;
    padding:30px 20px;
  }

  .main  {
    color: #43554f;
  }

  main p {
    font-size: 16px;
    padding: 10px;
  }

  #portfolio {
    margin: 50px auto;
    color: #5c6b66;
  }

  .project {
    margin: 20px 10px;
    width: 350px;
    height: 380px;
    display: inline-block;
    vertical-align: middle;
  
  }

 

  footer li, footer p {
    font-weight: 100;
  }

  #backtotop {
    display: none;
  }


  .bottom-nav {
    display: flex;
    margin: 0 15px;
  }

  #name {
    margin-right: auto;
  }
}

@media (min-width: 1024px) {

 header {
   padding: 30px 60px 50px;
 }

 #heading {
   display:flex;
   flex-direction: row;
   margin:20px;
 }
 header h2 {
   margin-right: auto;
   color: #cdffe6;
 }

 nav {
  margin:5px;
}
 nav ul li {
   width:auto;
 }


 #contact {
  padding:30px 120px;
 }
 .project {
   width: 310px;
   vertical-align: middle;
 }
}
